<!DOCTYPE html>
<html>
  <head>
    <title>Swearbox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- <link href="https://blackrockdigital.github.io/startbootstrap-grayscale/css/grayscale.min.css" rel="stylesheet"> -->
  </head>

  <body class='<%= @body_class %>'>

    <%= yield %>

  </body>
</html>
